{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
    <h1>Alleles</h1>
    <p> Found <strong>{{allele_count}}</strong> alleles among <strong>{{barcode_cluster_count}}</strong> Barcode Clusters that had at least <strong>{{min_reads}}</strong> read pairs. In total these Barcode Clusters included <strong>{{read_pair_count}}</strong> Read Pairs, <strong>{{read_pair_percentage}}</strong>% of total Read Pairs added to the analysis.</p>
  </div>
  
  <h2>Allele stats:</h2>
  <div class="row">
    <div class="col-md-12" align="center">
      <div id="allele_stats_table">
        <table class="table">
          <th>Empty Table</th>
          <tr>
            <td>Please wait one moment while the data for this table is loaded.</td>
          </tr>
        </table>
      </div>
      * the % of the total Reads Pairs added to the analysis that finally ended up in Barcode Clusters that support the allele.
    </div>
  </div>
  
  <h2>Cluster trash bin:</h2>
  <div class="row">
    <div class="col-md-12" align="center">
      <div id="cluster_trash_table">
        <table class="table">
          <th>Empty Table</th>
          <tr>
            <td>Please wait one moment while the data for this table is loaded.</td>
          </tr>
        </table>
      </div>
      * the % of the total Reads Pairs added to the analysis that finally ended up in Barcode Clusters that where trashed due to this.
    </div>
  </div>
  
  <h2>IGV visualization of the alleles:</h2>
  <div id="igv-container"></div>

  <link rel="stylesheet" type="text/css" href="static/css/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/igv-1.0.6.css">
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="static/js/igv-1.0.6.js"></script>
  <script src="/static/js/d3.v3.js"></script>
  <script src="/static/js/spin.js"></script>
  <script src="/static/js/allele_stats.js"></script>
  
  <script type="text/javascript">
    var options = {
      showCommandBar: true,
      palette: ["#00A0B0", "#6A4A3C", "#CC333F", "#EB6841"],
      locus: "hg19_dna:2686-6686",
      reference: {
          fastaURL: "reference.fasta",
        },
      trackDefaults: {
          bam: {
              coverageThreshold: 0.2,
              coverageQualityWeight: true
          }
        },
      tracks: [
        {% for allele_id in allele_ids %}
          {
              name: "Allele_{{allele_id}}",
              indexURL: "read_viz/allele_{{allele_id}}.marked.sorted.bai",
              url: "read_viz/allele_{{allele_id}}.marked.sorted.bam",
              samplingWindowSize:100,
              samplingDepth:100,
              alignmentRowHeight:1,
              viewAsPairs:true
          },
        {% endfor %}
        {
          name: "Target Regions",
          url: "target_regions.bed",
          displayMode: "EXPANDED",
          indexed:false,
          height:35
        }
      ]
    };
    var div = $("#igv-container")[0]
    igv.createBrowser(div, options);
  </script>
  
{% endblock %}