{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title></title>
    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/hla_server.css" rel="stylesheet">
  </head>

  <body id="{{ body_id }}">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">dbs HLA server</a>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li><a href="#files">Settings</a></li>-->

            {{ nav_link('read_pairs', 'Reads Pairs') }}
            {{ nav_link('barcode_clusters', 'Barcode Clusters') }}
            {{ nav_link('alleles', 'Alleles') }}
            {{ nav_link('individuals', 'Individuals') }}

          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </nav>

    <div class="container" role="main">

    {% block content %}{% endblock %}
    
    </div> <!-- /container -->

  <footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid" align="right">
      <span>{{analysispath}}</span>
    </div>
  </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-3.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    $(".nav a").on("click", function(){
      $(".nav").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });
    </script>

  </body>
</html>