{% extends "base.html" %}
{% block content %}
  
  <div class="jumbotron">
    <h1>Read Pairs</h1>
    <p>There were <strong>{{total_read_pairs}}</strong> read pairs loaded to the analysis from fastq files. Below you can find some statistics about these pairs.</p>
  </div>
  
  <div class="row">
    <div class="col-md-4" align="center">
        <h2>Handles found:</h2><div id="handlesunburst"></div><strong><span id="handleinfo">Total read pairs {{total_read_pairs}}</span></strong>
    </div>
    <div class="col-md-4" align="center">    
        <h2>Barcode sequences:</h2><div id="dbs_match_sunburst"></div><strong><span id="dbs_match_info">Total read pairs {{total_read_pairs}}</span></strong>
    </div>
    <div class="col-md-4" align="center">
      <h2>Mapping stats:</h2>
      <!--<div style='height: 15px'></div>-->
      <!--<h3>Mapped:</h3>-->
      <!--<h1>{{bt2}}%</h1>-->
      <!--<h3>with mapq >= 20:</h3>-->
      <!--<h1>{{bt2q20}}%</h1>-->
      <!--<div style='height: 15px'></div>-->
      <div id="mapping_stats_sunburst"></div><strong><span id="mapping_info">NOTE: not % of read pairs but single end reads.</span></strong>
    </div>
  </div>


  
  <h2>Expected Layout of Reads:</h2>
  <div class="well" align="center" style="overflow: auto;">
    <table>
      <tr>
        <td style="padding-bottom: 2px">
          <span class="label label-default" style="padding-right: 300px; padding-left: 300px">Read One <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> . . .</span>
        </td>
      </tr>
      <tr>
        <td>
          <nobr>
          <span class="label label-success">H1:{{h1}}</span>
          <span class="label label-warning">Barcode:{{dbs}}</span>
          <span class="label label-success">H2:{{h2}}</span>
          <span class="label label-primary" style="padding-right: 100px; padding-left: 100px">Target Amplicon Sequence</span>
          <span class="label label-success" style="position: relative">H3:{{h3}}</span>
          </nobr>
        </td>
      </tr>
      <tr>
        <td align="right" style="padding-top: 2px">
          <span class="label label-default" style="position: relative; right: inherit; padding-right: 150px; padding-left: 150px"> . . . <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Read Two</span>
        </td>
      </tr>
    </table>
  </div>

  <script src="/static/js/d3.v3.js"></script>
  <script src="/static/js/spin.js"></script>
  <script src="/static/js/handlesSunburst.js"></script>
  <script src="/static/js/dbs_match_sunburst.js"></script>
  <script src="/static/js/mapping_stats_sunburst.js"></script>

{% endblock %}