body {
  padding-top: 75px;
}
/*@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}*/

path {
    stroke: #000;
    /*stroke-width: 2;*/
    fill: none;
}

.extent {
    fill: grey;
    fill-opacity: 0.3;
    shape-rendering: crispEdges;
    stroke: grey;
  }
  
  #cluster_line_1 {
      stroke: red;
      stroke-width: 1;
      fill: none;
  }

  #cluster_line_2 {
      stroke: blue;
      stroke-width: 1;
      fill: none;
  }